<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<div th:if="${not #lists.isEmpty(people)}">
		<div>
			<ul>
				<li th:each="person:${people}"><span th:text="${person.name}"></span>
					<span th:text="${person.age}"></span>
					<button th:onclick="'getName(\''+${person.name}+'\');'">Get
						Name</button></li>
			</ul>
		</div>
	</div>
	
	<script th:inline="javascript">
		function getName(name) {
			console.log(name);
		}
	</script>
</body>
</html>